POSTGRES_DB=adapt
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
JWT_SECRET=change_me_to_at_least_32_characters_secret_key
JWT_EXPIRATION=86400000
OPEN_FOOD_FACTS_URL=https://world.openfoodfacts.org